
@{
    ViewBag.Title = "CambioPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<body>

    <div class="container">
        <div class="color-overlay"> </div>


        <section class="vh-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <form id="frm" method="post" action="/Login/CambioPassword">
                                    <h3 class="mb-1">Cambiar contraseña</h3>
                                    <hr class="mb-4">
                                    <div class="form-floating mb-4">
                                        <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" placeholder="Clave">
                                        <label for="txtNewPassword">Nueva Clave</label>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary btn-lg">Cambiar Contraseña</button>
                                    </div>
                                </form>
                                <hr class="my-4">
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        @ViewBag.ErrorMessage
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>

   



</body>

 
<style>

    .color-overlay {
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.7; /* Valor correcto de opacidad */
        position: absolute; /* Asegura que se superponga sobre el contenido */
        top: 0;
        left: 0;
        z-index: 0; 
    }

    .bg-dark {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
            background-image: url('@Url.Content("~/Content/images/key.jpg")');
    background-size: cover;
    background-repeat: round;
    background-attachment: fixed;
    background-color: black;
    }

        @@font-face {
    font-family: 'body';
    src: url('@Url.Content("~/Content/Font/Roboto-Regular.otf")') format('opentype');
    font-weight: normal;
    font-style: normal;
}




    body {
        margin: 0;
        padding: 0;
        color: white;
        background-color: #343a40; /* Fondo oscuro */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
        backdrop-filter: blur(10px);
        border-radius: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .btn-primary {
        background-color: #6f42c1; /* Color púrpura */
        border: none;
    }

        .btn-primary:hover {
            background-color: #5a32a3; /* Color púrpura más oscuro al pasar el ratón */
        }


        @@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 120%;
    }
}





</style>