@model Proyecto_Diseño_Web.Models.ViewModels.RecuperacionViewModel

@{
    ViewBag.Title = "Ingresar Código de Recuperación";
    Layout = "~/Views/Usuario/_LayoutPage1.cshtml";
}

<div class="wrapper">

    <h2>Ingresar Código de Recuperación</h2>

    @using (Html.BeginForm("VerificarCodigo", "Usuario", FormMethod.Post))
    {
        <div class="input-box">
            <label for="CodigoRecuperacion">Código:</label>
            @Html.TextBoxFor(m => m.CodigoRecuperacion, new { @class = "form-control", placeholder = "Código recibido por correo" })
        </div>

        <button type="submit" class="btn" >Verificar Código</button>
    }

    @if (ViewBag.Error != null)
    {
        <p style="color:red;">@ViewBag.Error</p>
    }

    @if (ViewBag.Mensaje != null)
    {
        <p style="color:green;">@ViewBag.Mensaje</p>
    }
</div>
